/BackEnd/api_venv/
/BackEnd/employee_venv/
/BackEnd/admin_venv/
*.pyc
*.pyo
__pycache__

# Visual studio code
.vscode/*
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history
.DS_Store

