/* conBtn is the color used for the span (box) holding the word Con
 * in the logo (ConTime)
 * and it's also used in the login (submit) button
 */
/* timeLogin is the color used in the word Time in the logo (ConTime)
 * and it's also used in teh login (h1) heading in forms
 */
/* conFormLogin is the color used in the word con in the logo (ConTime)
 * and its also used as a background color for the form 
 */
/* input box border color shadow on click */
/* color for error */
/* flash message colors */
/* Mixin font-size and weight for ConTime Logo */
/* input box background and border */
/* Flex Center Mixin */
.profile-container {
  width: 80%;
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.profile-container .info {
  font-size: 15px;
  font-weight: 500;
  -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.15);
          box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.15);
  width: 80%;
  height: 40px;
  border-radius: 2.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.employer {
  width: 40%;
  height: 20px;
  font-size: 15px;
  color: white;
  background: #cc4100;
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 5px;
}

@media only screen and (max-width: 750px) {
  .profile-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (max-width: 400px) {
  .profile-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .profile-container .info {
    width: 80%;
  }
}

.save-view {
  margin-top: 20px;
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.15);
          box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.15);
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.save-view .past, .save-view .save {
  width: 250px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-left: 0;
  border-radius: 5px;
  color: white;
  font-size: 17px;
}

.save-view .past {
  background: #4F4F4F;
}

.save-view .save {
  background: #cc4100;
}

.choice {
  margin-right: 2.5%;
  width: 25px;
  height: 25px;
}

.cal-table {
  margin-bottom: 100px;
  margin-top: 50px;
  width: 80%;
}

input {
  width: 50%;
  border: none;
  border-radius: 2.5px;
  -webkit-box-shadow: 0 0 1px #719ECE;
          box-shadow: 0 0 1px #719ECE;
  padding-left: 5%;
}

input:focus {
  outline: none !important;
}

.des {
  width: 100%;
}

.loc {
  width: 80%;
}

.hour {
  width: 40px;
}

td {
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 650px) {
  input {
    width: 100%;
    border: none;
    border-radius: 2.5px;
    -webkit-box-shadow: 0 0 1px #719ECE;
            box-shadow: 0 0 1px #719ECE;
    padding-left: 10%;
  }
  input:focus {
    outline: none !important;
  }
  .save-view .past, .save-view .save {
    width: 40%;
    height: 40px;
  }
  .cal-table {
    margin-top: 50px;
    width: 100%;
  }
}
/*# sourceMappingURL=employeecalendar.css.map */