:root {
    --primany-text-color: #4F4F4F;
    --content-max-width: 800px;
    --red-color: #FF0000;
    --border-color: #e6e6e6;
    --success: #339933;
}

/* PENDING REQUEST SECTION */
.pending-request, .companies {
    height: 100%;
    min-width: 600px;
    max-width: 600px;
    border-bottom: 1px solid var(--border-color);
}

h2 {
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 25px;
}

.pending-request small {
    /* If you want to implement it in very old browser-versions */
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    /* The rule below is not implemented in browsers yet */
    -o-user-select: none;

    /* The rule below is implemented in most browsers by now */
    user-select: none;
}

.pending-request small:hover {
    cursor: pointer;
    opacity: 0.7;
}

.pending-request-container {
    /* border: 1px solid black; */
}

.company-card, .company-card-work {
    width: 100%;
    height: 170px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid var(--border-color);
    line-height: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.company-card:hover, .company-card-work:hover {
    background-color: #fcfcfc;
}

.company-card:hover svg, .company-card-work:hover svg {
    min-width: 40px;
    max-width: 40px;
    min-height: 40px;
    max-height: 40px;
    color: var(--red-color);
    opacity: 0.5;
}

.company-card-work:hover svg {
    color: var(--success);
}

.company-card-info p {
    font-weight: 600;
    font-size: 12px;
    /* text-transform: uppercase; */
    opacity: 0.7;
}

.company-card-info p:first-child {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    opacity: 0.7;
}

.company-card .info, .company-card-work .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    min-height: 100px;
    max-height: 100px;
    min-width: 520px;
    max-width: 520px;
    padding-left: 20px;
}

.request {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.request form {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.company-card-svg {
    min-width: 100px;
    max-width: 100px;
    min-height: 150px;
    max-height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid var(--border-color);
}

.company-card svg, .company-card-work svg {
    width: 40px;
    height: 40px;
    color: var(--primany-text-color);
    opacity: 0.5;
}

/* CARD BUTTONs */
.company-btns {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.company-btn {
    min-width: 120px;
    max-width: 120px;
    min-height: 25px;
    max-height: 25px;
    border-radius: 5px;
    margin: 0 5px;
    border: none;
    color: white;
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
}

.btn-two {
    margin-left: 0;
    color: #339933;
    border: 1px solid #339933;
    background: white;
}

.btn-three {
    color: var(--red-color);
    border: 1px solid var(--red-color);
    background: white;
}

.manager-name, .manager-email {
    color: black;
    text-decoration: underline;
}

.yes-no {
    min-width: 120px;
    max-width: 120px;
    min-height: 25px;
    max-height: 25px;
    font-size: 10px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.btn-yes, .btn-no {
    text-transform: uppercase;
    min-width: 40px;
    max-width: 40px;
    min-height: 25px;
    max-height: 25px;
    background: white;
    border-radius: 5px;
    font-weight: 600;
}

.btn-no {
    color: #339933;
    border: 1px solid #339933;
}

.btn-yes {
    color: var(--red-color);
    border: 1px solid var(--red-color);
}

.btn-no:hover {
    color: white;
    background: #339933;
    border: white;
}

.btn-yes:hover {
    background: var(--red-color);
    color: white;
}

/* CALENDARS */

.cal-table {

}

.current-calendar h2, .past-calendars h2 {
    padding-bottom: 10px;
    border-bottom: 1px solid var(--border-color);
}

.week {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.week div {
    padding: 10px;
}

table {
    border-spacing: 0;
    margin-bottom: 20px;
}

thead {
    background: var(--success);
    color: white;
}

tr th {
    width: 100%;
    height: 30px;
    font-size: 12px;
}

tr th, tr td {
    border-right: 1px solid var(--success);
}

tr input {
    height: 30px;
    border: unset;
    border-bottom: 1px solid var(--border-color);
    text-align: center;
}

thead tr th {
    width: 60px;
}

tr td:last-child {
    border: none;
}

.info {
    color: var(--primany-text-color);
    font-size: 14px;
    font-weight: 600;
}

.week-start, .hour {
    margin-left: 5px;
    color: #339933;
    border: 1px solid #339933;
    background: white;
    border-radius: 3px;
    padding: 2.5px 7px;
    font-size: 12px;
}

.current-calendar {
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 25px;
    margin-bottom: 25px;
}

/* PAST CALENDARS */

.past-calendars thead {
    background: var(--red-color);
    color: white;
}

.past-calendars .week-start, .past-calendars .hour {
    color: var(--red-color);
    border: 1px solid var(--red-color);
}

.past-calendars tr th, .past-calendars tr td {
    border-right: 1px solid var(--red-color);
}

.past-calendars tbody {
    text-align: center;
}

.past-calendars tbody th, .past-calendars tbody td {
    display: table-cell;
    min-width: 125px;
    max-width: 125px;
    min-height: 45px;
    max-height: 45px;
}

.past-calendars tbody td:last-child {
    min-width: 250px;
    max-width: 250px;
    border-right: unset;
}

.past-calendars tbody td {
    font-size: 12px;
    border-bottom: 1px solid var(--border-color);
    overflow: scroll;
}

.past-calendars tbody tr:last-child td {
    border-bottom: unset;
}

.past-calendars table {
    margin-bottom: 50px;
    border-bottom: 1px solid var(--red-color);
}

.past-calendars {
    min-width: 630px;
    max-width: 630px;
}

#company_name {
    color: var(--red-color);
}

.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 1px solid var(--border-color);
    border-bottom: unset;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.info-card {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 500px;
    max-width: 500px;
    min-height: 120px;
    max-height: 120px;
    justify-content: space-evenly;
}

.card-image {
    min-width: 80px;
    max-width: 80px;
    min-height:120px;
    max-height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card-image img {
    min-width: 50px;
    max-width: 50px;
    min-height:50px;
    max-height: 50px;
}

.card-image span {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

.card-info {
    min-height: 120px;
    max-height: 120px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    overflow: hidden;
    padding-left: 20px;
    border-left: 1px solid var(--border-color);
}

.card-info span {
    padding: 5px 0;
}

.credentials {
    font-size: 14px;
    font-weight: 600;
}

.change-password {
    min-width: 500px;
    max-width: 500px;
    min-height: 300px;
    max-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid red;
    border: 1px solid var(--border-color);
}

.pwd-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: 200px;
    max-height: 200px;
}

@media (max-width: 750px){
    .company-card, .company-card-work {
        min-width: unset;
        max-width: unset;
        width: 400px;
    }

    .delete-account {
        margin-bottom: 50px;
    }

    .past-calendars tbody th, .past-calendars tbody td, .current-calendar tbody th, .current-calendar tbody th {
        min-width: unset;
        max-width: unset;
        min-width: 85px;
        max-width: 100%;
        min-height: 45px !important;
        max-height: 45px !important;
    }

    .past-calendars tbody td:last-child, .current-calendar tbody td:last-child {
        min-width: unset;
        max-width: unset;
        min-width: 85px;
        max-width: 100%;
        min-height: 45px !important;
        max-height: 45px !important;
        overflow-x: scroll;
        overflow-y: hidden;
    }

    .week {
        flex-direction: column;
        align-items: flex-start;
    }

    tr input {
        height: 30px;
        min-width: 80px;
        max-width: 80px;
        font-size: 12px;
    }
}

@media (max-width: 550px){

    .company-card-svg {
        display: none;
    }

    .company-card, .company-card-work {
        min-width: unset;
        max-width: unset;
        width: 300px;
    }
}
