{% extends 'employee_layout.html' %}
{% block employee_calendars_style %}
    <style>
        .item-two svg {
            color: #FF0000; cursor: pointer; background: #f5f5f5;
        }
    </style>
{% endblock employee_calendars_style %}
{% block employee_calendars %}
    <main class="main-dashboard">
      <section class="past-calendars">
        <h2>All calendars ( {{ calendars|length }} )</h2>
        {% for calendar in calendars %}
          <div class="cal-table">
              <div>
                <table>
                  <div class="profile-container">
                    <div class="week">
                      <div class="info">
                        <span>WEEK:</span><span class="week-start">{{ calendar.week }}</span>
                      </div>
                      <div class="info">
                        <span>COMPANY:</span><a id="company_name" href="{{ url_for('employee.company_calendars', company_id=calendar.company_id) }}"><span class="week-start">{{ calendar.company_name }}</span></a>
                      </div>
                      <div class="info">
                        <span>TOTAL HOURS:</span><span class="hour">{{ calendar.total_hours }}</span>
                      </div>
                    </div>
                    <thead>
                      <tr>
                        <th scope="col">DAY</th>
                        <th scope="col" class="hr">HOUR</th>
                        <th scope="col">LOCATION</th>
                        <th scope="col">DESCRIPTION</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">SUN</th>
                        <td>{{ calendar.sunday.hours }}</td>
                        <td>{{ calendar.sunday.location }}</td>
                        <td>{{ calendar.sunday.description[:12] }}...</td>
                      </tr>
                      <tr>
                        <th scope="row">MON</th>
                        <td>{{ calendar.monday.hours }}</td>
                        <td>{{ calendar.monday.location }}</td>
                        <td>{{ calendar.monday.description[:12] }}...</td>
                      </tr>
                      <tr>
                        <th scope="row">TUE</th>
                        <td>{{ calendar.tuesday.hours }}</td>
                        <td>{{ calendar.tuesday.location }}</td>
                        <td>{{ calendar.tuesday.description[:12] }}...</td>
                      </tr>
                      <tr>
                        <th scope="row">WED</th>
                        <td>{{ calendar.wednesday.hours }}</td>
                        <td>{{ calendar.wednesday.location }}</td>
                        <td>{{ calendar.wednesday.description[:12] }}...</td>
                      </tr>
                      <tr>
                        <th scope="row">THU</th>
                        <td>{{ calendar.thursday.hours }}</td>
                        <td>{{ calendar.thursday.location }}</td>
                        <td>{{ calendar.thursday.description[:12] }}...</td>
                      </tr>
                      <tr>
                        <th scope="row">FRI</th>
                        <td>{{ calendar.friday.hours }}</td>
                        <td>{{ calendar.friday.location }}</td>
                        <td>{{ calendar.friday.description[:12] }}...</td>
                      </tr>
                      <tr>
                        <th scope="row">SAT</th>
                        <td>{{ calendar.saturday.hours }}</td>
                        <td>{{ calendar.saturday.location }}</td>
                        <td>{{ calendar.saturday.description[:12] }}...</td>
                      </tr>
                    </tbody>
                  </table>
              </div>
          </div>
        {% endfor %}
      </section>
    </main>
{% endblock employee_calendars %}
