<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon_io/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon_io/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon_io/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='favicon_io/site.webmanifest') }}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/dashboardStyle/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/dashboardStyle/dashMenu.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/dashboardStyle/topMenu.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/dashboardStyle/profile.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/dashboardStyle/employees.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/dashboardStyle/profileInfo.css') }}">
    <SCRIPT src="https://code.jquery.com/jquery-3.2.1.min.js"></SCRIPT>

    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>ConTime</title>
    {% endif %}
</head>
<body>
    {% include 'dashMenu.html' %}
    {% include 'topMenu.html' %}
    <div class="main">
        {% include 'profile.html' %}
        {% block dashboard %}{% endblock dashboard %}
        {% block employees %}{% endblock employees %}
        {% block profile_info %}{% endblock profile_info %}
    </div>

    <script src="{{ url_for('static', filename='JS/dashboard.js') }}"></script>

    <footer></footer>
</body>
</html>
