<div class="dashboard">
    <div class="choices">
        <div class='choice'><a href="{{ url_for('dash.dashboard') }}"><span><img src="{{ url_for('static', filename='images/home-solid.svg') }}" alt="house" class='iconImg'></span></a></div>
        <div class='choice'><a href="{{ url_for('dash.employers_employee') }}"><span><img src="{{ url_for('static', filename='images/user-friends-solid.svg') }}" alt="house" class='iconImg'></span></a></div>
        <div class='choice'><a href="{{ url_for('dash.profile') }}"><span><img src="{{ url_for('static', filename='images/user-circle-solid.svg') }}" alt="profile" class='iconImg'></span></a></div>
        <div class="choice" id="logout"><a href="{{ url_for('auth.logout') }}"><span><img src="{{ url_for('static', filename='images/sign-out-alt-solid.svg') }}" alt="signout" class="iconImg"></span></a></div>
    </div>
</div>
