<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon_io/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon_io/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon_io/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='favicon_io/site.webmanifest') }}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/loginStyle/login.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/registerStyle/register.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
    <SCRIPT src="https://code.jquery.com/jquery-3.2.1.min.js"></SCRIPT>

    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>ConTime</title>
    {% endif %}
    
</head>
<body>
    <div class="container">
        <div class="web-description">
            <div class="logo-container">
                <span class="con">Con</span>
                <span class="time">Time</span>
            </div>
            <p class="description">
                Making it easier for (sub)contractors to manage employees'.
                <br>
                <br>
                <a class="about" href="#">About Us</a>
            </p>
            
        </div>
        {% block form %}
        {% endblock form %}
    </div>

    <script src="{{ url_for('static', filename='JS/login.js') }}"></script>
    <script src="{{ url_for('static', filename='JS/register.js') }}"></script>
</body>
</html>
