{% extends 'loginRegisterLayout.html' %}
{% from 'formMacro.html' import render_field %}
{% block form %}
    <div class="form-container_r">
        <form action="{{ url_for('auth.register') }}" method="POST" class="form-register">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="flash-error">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <h1>SignUp</h1>
            {{ form.hidden_tag() }}
            {{ render_field(form.first_name) }}
            {{ render_field(form.last_name) }}
            {{ render_field(form.email) }}
            {{ render_field(form.password) }}
            {{ render_field(form.confirm_pwd) }}
            <input class="login-btn" type="submit" value="Sign UP">
        </form>
        <a class="signup" href="{{ url_for('auth.login') }}">Have an account? LogIn</a>
    </div>
{% endblock form %}
