/* conBtn is the color used for the span (box) holding the word Con
 * in the logo (ConTime)
 * and it's also used in the login (submit) button
 */
/* timeLogin is the color used in the word Time in the logo (ConTime)
 * and it's also used in teh login (h1) heading in forms
 */
/* conFormLogin is the color used in the word con in the logo (ConTime)
 * and its also used as a background color for the form 
 */
/* input box border color shadow on click */
/* color for error */
/* Mixin font-size and weight for ConTime Logo */
/* input box background and border */
/* Flex Center Mixin */
.dashboard {
  background: #CC4100;
  width: 200px;
  height: calc(100vh - 47px);
  position: fixed;
  left: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#pic_frame {
  width: 134px;
  height: 134px;
  background: white;
  border-radius: 50%;
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#pic_frame #pic {
  width: 130px;
  height: 130px;
  border-radius: 50%;
}

#pic_frame #picture {
  width: 130px;
  height: 130px;
  border-radius: 50%;
}

#name {
  font-size: 20px;
  font-weight: 500;
  color: white;
}

.choices {
  margin-top: 60px;
}

.choices .choice {
  width: 200px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.choices .choice:hover {
  background: #AD1E15;
  opacity: 70%;
}

.choices a {
  text-decoration: none;
}

.choices span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 17px;
  font-weight: 500;
  color: white;
  width: 130px;
  height: 45px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.choices span:hover {
  cursor: pointer;
}

.choices .iconImg {
  height: 17px;
  width: 17px;
  margin-right: 5px;
}

.logout {
  font-size: 15px;
  height: 40px;
  width: 100px;
  position: fixed;
  bottom: 30px;
  border: 1px solid white;
  color: white;
  border-radius: 5px;
  background: none;
}

.logout:hover {
  cursor: pointer;
  background: #AD1E15;
  opacity: 70%;
}

.logout:focus {
  outline: 0;
}
/*# sourceMappingURL=dashMenu.css.map */