/* conBtn is the color used for the span (box) holding the word Con
 * in the logo (ConTime)
 * and it's also used in the login (submit) button
 */
/* timeLogin is the color used in the word Time in the logo (ConTime)
 * and it's also used in teh login (h1) heading in forms
 */
/* conFormLogin is the color used in the word con in the logo (ConTime)
 * and its also used as a background color for the form 
 */
/* input box border color shadow on click */
/* color for error */
/* flash message colors */
/* Mixin font-size and weight for ConTime Logo */
/* input box background and border */
/* Flex Center Mixin */
is_off {
  display: none;
}

@media only screen and (min-width: 650px) {
  .add_employees {
    width: calc(100% - 200px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 100px;
    width: 90%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  }
  .add_employees .add_employee {
    width: 20%;
    height: 40px;
    border-radius: 5px;
    background: #cc4100;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 600;
    -webkit-appearance: none;
  }
  .add_employees .add_employee:focus {
    outline: none !important;
  }
  .add_employees .add_employee:hover {
    cursor: pointer;
    opacity: 70%;
  }
}

.form_add {
  -webkit-appearance: none;
  background: #67d380;
  border: none;
  border-radius: 2.5px;
  min-height: 40px;
  width: 65%;
  margin: 20px 0 20px 0;
  font-size: 15px;
  font-weight: 600;
  color: white;
}

.form_add:focus {
  outline: none !important;
}

.form_add:hover {
  cursor: pointer;
  opacity: 80%;
}

.form_hide {
  -webkit-appearance: none;
  background: orange;
  border: none;
  border-radius: 2.5px;
  min-height: 40px;
  width: 65%;
  margin: 20px 0 20px 0;
  font-size: 15px;
  font-weight: 600;
  color: white;
}

.form_hide:focus {
  outline: none !important;
}

.form_hide:hover {
  cursor: pointer;
  opacity: 80%;
}

.em_input {
  background: rgba(196, 196, 196, 0.2);
  border: 0.5px solid rgba(196, 196, 196, 0.2);
  width: 20%;
  max-width: 200px;
  min-height: 40px;
  border-radius: 5px;
  padding-left: 20px;
  margin-right: 20px;
}

.em_input:focus {
  outline: none !important;
  border: 1px solid #cc4100;
  -webkit-box-shadow: 0 0 5px #719ECE;
          box-shadow: 0 0 5px #719ECE;
}

.employees {
  width: 80%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cardBtn {
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cardBtn button {
  width: 45%;
  height: 100%;
  background: #67d380;
  border-radius: 2.5px;
  border: 2px solid #28A845;
  color: white;
}

.cardBtn button:focus {
  outline: 0;
}

.cardBtn button:hover {
  cursor: pointer;
  opacity: 78%;
}

.cardBtn .del {
  border: 2px solid #DD3544;
  background: #e65763;
}

.employee {
  width: 200px;
  min-height: 350px;
  max-height: 350px;
  margin: 20px;
  -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.15);
          box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.15);
  border-radius: 2.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.employee .full_name {
  width: 80%;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-radius: 2.5px;
  overflow: scroll;
  font-size: 12.5;
}

.employee .email {
  width: 80%;
  height: 25px;
  background: #4F4F4F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-radius: 2.5px;
  font-size: 12.5px;
  color: white;
  overflow: scroll;
}

.employee .i_d {
  width: 20px;
  height: 15px;
  background: #f8b437;
  border-radius: 2.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-right: 5px;
  font-size: 8px;
  overflow: scroll;
}

.employee .i_a {
  width: 40px;
  height: 15px;
  background: #f8b437;
  border-radius: 2.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-right: 5px;
  font-size: 8px;
  overflow: scroll;
}

.employee .id {
  width: 80%;
  height: 25px;
  background: #4F4F4F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-radius: 2.5px;
  font-size: 8px;
  color: white;
  overflow: scroll;
}

.employee .id input {
  background: none;
  border: none;
  color: white;
}

.employee .date_added {
  width: 80%;
  height: 25px;
  background: #4F4F4F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-radius: 2.5px;
  font-size: 11px;
  color: white;
  overflow: scroll;
}

.employee .on_employee {
  width: 80%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.employee .check_for_del {
  width: 100%;
  height: 50px;
  border: 2px solid #DD3544;
  background: #e65763;
  border-radius: 2.5px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 12.5px;
}

.employee .check_for_del .confirm_con {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.employee .check_for_del .confirm_con .no {
  background: #f8b437;
  border: 1px solid white;
  border-radius: 2.5px;
  color: white;
  height: 100%;
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.employee .check_for_del .confirm_con .no:focus {
  outline: 0;
}

.employee .check_for_del .confirm_con .no:hover {
  cursor: pointer;
  opacity: 78%;
}

.employee .check_for_del .confirm_con .yes {
  -webkit-appearance: none;
  background: #67d380;
  border: 1px solid white;
  border-radius: 2.5px;
  color: white;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.employee .check_for_del .confirm_con .yes:focus {
  outline: 0;
}

.employee .check_for_del .confirm_con .yes:hover {
  cursor: pointer;
  opacity: 78%;
}

.employee img {
  width: 100px;
  height: 100px;
  opacity: 70%;
}

@media only screen and (max-width: 650px) {
  .add_employees {
    min-height: 250px;
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .add_employees .add_employee {
    margin-top: 10px;
    min-width: 224px;
    min-height: 40px;
    border-radius: 5px;
    background: #cc4100;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 600;
    -webkit-appearance: none;
  }
  .add_employees .add_employee:focus {
    outline: none !important;
  }
  .add_employees .add_employee:hover {
    cursor: pointer;
    opacity: 90%;
  }
  .em_input {
    background: rgba(196, 196, 196, 0.2);
    border: 0.5px solid rgba(196, 196, 196, 0.2);
    width: 100%;
    max-width: 200px;
    height: 35px;
    border-radius: 5px;
    margin-bottom: 5px;
    padding-left: 20px;
    margin-right: 0;
  }
  .em_input:focus {
    outline: none !important;
    border: 1px solid #cc4100;
    -webkit-box-shadow: 0 0 5px #719ECE;
            box-shadow: 0 0 5px #719ECE;
  }
  .employees {
    width: 100%;
    height: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}
/*# sourceMappingURL=employees.css.map */