*
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: white;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}


.main {
    height: 100%;
    width: calc(100% - 105px);
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    top: 47px;
    left: 100px;
    z-index: -5;
}

@media only screen and (max-width: 849px) {
    .main {
        top: 90px;
        left: 0;
        width: 100%;
    }
}
