@import "../loginStyle/variablesMixin";

.main-dash::-webkit-scrollbar {
    width: 1em;
    height: 5px;
}

.main-dash::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.main-dash::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

.main-dash {
    min-width: 80%;
    max-width: 80%;
    min-height: 200px;
    max-height: 200px;
    overflow: auto;
    left: 50px;
    top: 100px;
    @include flexCenter(column);
    flex-wrap: wrap;

    .prevent {
        min-width: 60.25px;
        min-height: 140px;
        max-width: 60.25px;
        max-height: 140px;
        margin: 20px;
    }

    .total {
        min-width: 125px;
        min-height: 140px;
        max-width: 125px;
        max-height: 140px;
        margin: 10px;
        box-shadow: 0px 0px 1px 1px orange;
        border-radius: 2.5px;
        @include flexCenter(column);
        justify-content: center;
        background: cornsilk;

        .h {
            @include flexCenter(column);
            justify-content: space-evenly;
            width: 100px;
            height: 50px;
            font-size: 12.5px;
            font-weight: 600;
            
            .hour {
                width: 100%;
                height: 20px;
                font-size: 12.5px;
                color: white;
                background: #cc4100;
                border-radius: 2px;
                @include flexCenter(row);
            }
        }
    }

    .employee-hour {
        min-width: 125px;
        min-height: 140px;
        max-width: 125px;
        max-height: 140px;
        margin: 10px;
        box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.15);
        border-radius: 2.5px;
        transition: 0.5s;

        @include flexCenter(column);
        justify-content: space-evenly;

        &:first-child {
            margin-left: 150px;
        }

        &:last-child {
            margin-right: 50px;
        }

        &:hover {
            cursor: pointer;
        }

        img {
            min-width: 45px;
            min-height: 45px;
            max-width: 45px;
            max-height: 45px;
        }

        .name {
            @include flexCenter(column);
            width: 100px;
            height: 35px;
            overflow: hidden;

            span {
                font-size: 12.5px;
            }
        }

        .h {
            @include flexCenter(row);
            width: 100px;
            height: 35px;
            font-size: 12.5px;
            font-weight: 500;
            
            .hour {
                width: 40%;
                height: 17px;
                font-size: 12.5px;
                color: white;
                background: #cc4100;
                border-radius: 2px;
                @include flexCenter(row);
                margin-left: 5px;
            }
        }
    }
}

.cal-table {
    // position: relative;
    min-width: 70%;
    max-width: 70%;
}

.table {
    margin-top: -25px;
}

.table th td {
    text-align: center;
}

.thead-dark th {
    color: #fff;
    background-color: #373a3c;
}

.table-responsive {
    .profile-container {
        width: 100%;
        margin-top: 0;
        @include flexCenter(row);
    
        .info {
            font-size: 15px;
            font-weight: 600;
            box-shadow: 0.5px 0.5px 0.5px 0.5px rgba(0,0,0,0.15);
            width: 100%;
            height: 40px;
            border-radius: 0px;
            @include flexCenter(row);
            justify-content: flex-start;
            padding-left: 5%;
        }
    }
}

@media only screen and (max-width: 850px) {
    .main-dash {
        min-width: 100%;
        max-width: 100%;
    }

    .cal-table {
        min-width: 100%;
        max-width: 100%;
    }

}
