/* conBtn is the color used for the span (box) holding the word Con
 * in the logo (ConTime)
 * and it's also used in the login (submit) button
 */
/* timeLogin is the color used in the word Time in the logo (ConTime)
 * and it's also used in teh login (h1) heading in forms
 */
/* conFormLogin is the color used in the word con in the logo (ConTime)
 * and its also used as a background color for the form 
 */
/* input box border color shadow on click */
/* color for error */
/* flash message colors */
/* Mixin font-size and weight for ConTime Logo */
/* input box background and border */
/* Flex Center Mixin */
.main-dash::-webkit-scrollbar {
  width: 1em;
  height: 5px;
}

.main-dash::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.main-dash::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.main-dash {
  min-width: 80%;
  max-width: 80%;
  min-height: 200px;
  max-height: 200px;
  overflow: auto;
  left: 50px;
  top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-dash .prevent {
  min-width: 60.25px;
  min-height: 140px;
  max-width: 60.25px;
  max-height: 140px;
  margin: 20px;
}

.main-dash .total {
  min-width: 125px;
  min-height: 140px;
  max-width: 125px;
  max-height: 140px;
  margin: 10px;
  -webkit-box-shadow: 0px 0px 1px 1px orange;
          box-shadow: 0px 0px 1px 1px orange;
  border-radius: 2.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-content: center;
  background: cornsilk;
}

.main-dash .total .h {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100px;
  height: 50px;
  font-size: 12.5px;
  font-weight: 600;
}

.main-dash .total .h .hour {
  width: 100%;
  height: 20px;
  font-size: 12.5px;
  color: white;
  background: #cc4100;
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main-dash .employee-hour {
  min-width: 125px;
  min-height: 140px;
  max-width: 125px;
  max-height: 140px;
  margin: 10px;
  -webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.15);
  border-radius: 2.5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.main-dash .employee-hour:first-child {
  margin-left: 150px;
}

.main-dash .employee-hour:last-child {
  margin-right: 50px;
}

.main-dash .employee-hour:hover {
  cursor: pointer;
}

.main-dash .employee-hour img {
  min-width: 45px;
  min-height: 45px;
  max-width: 45px;
  max-height: 45px;
}

.main-dash .employee-hour .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100px;
  height: 35px;
  overflow: hidden;
}

.main-dash .employee-hour .name span {
  font-size: 12.5px;
}

.main-dash .employee-hour .h {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100px;
  height: 35px;
  font-size: 12.5px;
  font-weight: 500;
}

.main-dash .employee-hour .h .hour {
  width: 40%;
  height: 17px;
  font-size: 12.5px;
  color: white;
  background: #cc4100;
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 5px;
}

.cal-table {
  min-width: 70%;
  max-width: 70%;
}

.table {
  margin-top: -25px;
}

.table th td {
  text-align: center;
}

.thead-dark th {
  color: #fff;
  background-color: #373a3c;
}

.table-responsive .profile-container {
  width: 100%;
  margin-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.table-responsive .profile-container .info {
  font-size: 15px;
  font-weight: 600;
  -webkit-box-shadow: 0.5px 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.15);
          box-shadow: 0.5px 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.15);
  width: 100%;
  height: 40px;
  border-radius: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 5%;
}

@media only screen and (max-width: 850px) {
  .main-dash {
    min-width: 100%;
    max-width: 100%;
  }
  .cal-table {
    min-width: 100%;
    max-width: 100%;
  }
}
/*# sourceMappingURL=main_dash.css.map */