@import "../loginStyle/variablesMixin";


.wrapper {
    @include flexCenter(column);
    margin-top: 50px;

    button {
        &:focus {
            outline: none !important;
        }

        &:hover {
            cursor: pointer;
            opacity: 70%;
        }
    }
}

.error:first-child {
    margin-top: -20px;
}

.error {
    font-size: 12px;
    color: $errorColor;
    margin-left: 20px;
}

.flash-success {
    @include flash_msg($flash_success);
    width: 80%;
    opacity: 70%;
}

.flash-error {
    @include flash_msg($flash_error);
}

.boss {
    @include flexCenter(row);
    justify-content: space-around;
    height: 300px;
    width: 500px;
    border-radius: 2.5px;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.15);

    .i_a {
        width: 40px;
        height: 15px;
        background: rgb(248, 180, 55);
        border-radius: 2.5px;
        @include flexCenter(row);
        margin-right: 5px;
        font-size: 8px;
        overflow: scroll;

    }

    .boss_info {
        width: 200px;
    }

    .f_n {
        width: 100%;
        height: 25px;
        @include flexCenter(row);
        border-radius: 2.5px;
        overflow: scroll;
        font-size: 12.5;
    }

    .email_boss {
        width: 100%;
        height: 25px;
        background: orange;
        @include flexCenter(row);
        border-radius: 2.5px;
        font-size: 12.5px;
        color: white;
        overflow: scroll;
    }

    .d_c {
        width: 100%;
        height: 25px;
        background: $conBtn;
        @include flexCenter(row);
        border-radius: 2.5px;
        font-size: 11px;
        color: white;
    }
}

.boss img {
    width: 200px;
    height: 150px;
    opacity: 70%;
}

.change_pwd_w {
    width: 500px;
    @include flexCenter(row);
    justify-content: space-between;
    margin-top: 20px;
    
}

.change_pwd {
    @include flexCenter(column);
    justify-content: space-around;
    min-height: 200px;
    max-height: 200px;
    width: 300px;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.15);
}

.pwd_input {
    @include inputBox(rgba(196, 196, 196, 0.2));
    width: 80%;
    max-width: 200px;
    height: 40px;
    border-radius: 5px;
    padding-left: 20px;

    &:focus {
        outline: none !important;
        border:1px solid $conBtn;
        box-shadow: 0 0 5px $inputBorderShadow;
    }

}

.change_pwd_btn {
    border: 2px solid #cc5917;
    background: orange;
    border-radius: 2.5px;
    width: 60%;
    height: 40px;
    color: white;
    -webkit-appearance: none;

    &:focus {
        outline: none !important;
    }

    &:hover {
        cursor: pointer;
        opacity: 70%;
    }
}

.boss_for_del {
    width: 80%;
    height: 45px;
    margin-top: 12px;
    border: 2px solid #DD3544;
    background: #e65763;
    border-radius: 2.5px;
    color: white;
    @include flexCenter(column);
    justify-content: space-evenly;
    font-size: 12.5px;
    

    .boss_confirm {
        width: 80%;
        @include flexCenter(row);
        justify-content: space-around;

        .b_no {
            background: rgb(248, 180, 55);
            border: 1px solid white;
            border-radius: 2.5px;
            color: white;
            height: 20px;
            width: 50px;
            @include flexCenter(row);


            &:focus {outline: 0;}
            &:hover {cursor: pointer; opacity: 78%;}
            
        }

        .b_yes {
            -webkit-appearance: none;
            background: #67d380;
            border: 1px solid white;
            border-radius: 2.5px;
            color: white;
            height: 20px;
            width: 50px;
            @include flexCenter(row);

            &:focus {outline: 0;}
            &:hover {cursor: pointer; opacity: 78%;}

        }
    }
}

.opt {
    @include flexCenter(column);
    justify-content: flex-start;
    height: 200px;
    width: calc(100% - 300px);
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.15);

    .del_account {
        border: 2px solid #DD3544;
        background: #e65763;
        width: 80%;
        border-radius: 2.5px;
        height: 45px;
        color: white;
        margin-top: 12px;
    }
}


@media only screen and (max-width: 750px) {
    .boss {
        @include flexCenter(column);
        width: 80%;
    }

    .opt {
        margin-top: 20px;
        width: 100%;
    }

    .change_pwd_w {
        @include flexCenter(column);
        justify-content: flex-start;
        width: 80%;
    }

    .change_pwd {
    }
}