/* conBtn is the color used for the span (box) holding the word Con
 * in the logo (ConTime)
 * and it's also used in the login (submit) button
 */
/* timeLogin is the color used in the word Time in the logo (ConTime)
 * and it's also used in teh login (h1) heading in forms
 */
/* conFormLogin is the color used in the word con in the logo (ConTime)
 * and its also used as a background color for the form 
 */
/* input box border color shadow on click */
/* color for error */
/* flash message colors */
/* Mixin font-size and weight for ConTime Logo */
/* input box background and border */
/* Flex Center Mixin */
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 50px;
}

.wrapper button:focus {
  outline: none !important;
}

.wrapper button:hover {
  cursor: pointer;
  opacity: 70%;
}

.error:first-child {
  margin-top: -20px;
}

.error {
  font-size: 12px;
  color: #f54242;
  margin-left: 20px;
}

.flash-success {
  width: 60%;
  height: 25px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: #28A845;
  font-size: 12.5px;
  color: white;
  width: 80%;
  opacity: 70%;
}

.flash-error {
  width: 60%;
  height: 25px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: #d9534f;
  font-size: 12.5px;
  color: white;
}

.boss {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 350px;
  width: 500px;
  border-radius: 2.5px;
  -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.15);
          box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.15);
}

.boss .i_a {
  width: 40px;
  height: 15px;
  background: #f8b437;
  border-radius: 2.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-right: 5px;
  font-size: 8px;
  overflow: scroll;
}

.boss .boss_info {
  min-height: 150px;
  width: 200px;
}

.boss .f_n {
  width: 100%;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-radius: 2.5px;
  overflow: scroll;
  font-size: 12.5;
}

.boss .email_boss {
  width: 100%;
  height: 25px;
  background: #4F4F4F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-radius: 2.5px;
  font-size: 12.5px;
  color: white;
  overflow: scroll;
}

.boss .d_c {
  width: 100%;
  height: 25px;
  background: #4F4F4F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-radius: 2.5px;
  font-size: 11px;
  color: white;
}

.boss img {
  max-width: 150px;
  max-height: 100px;
  opacity: 70%;
}

.change_pwd_w {
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

.change_pwd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  min-height: 200px;
  max-height: 200px;
  width: 300px;
}

.pwd_input {
  background: rgba(196, 196, 196, 0.2);
  border: 0.5px solid rgba(196, 196, 196, 0.2);
  width: 80%;
  max-width: 200px;
  height: 40px;
  border-radius: 5px;
  padding-left: 20px;
}

.pwd_input:focus {
  outline: none !important;
  border: 1px solid #cc4100;
  -webkit-box-shadow: 0 0 5px #719ECE;
          box-shadow: 0 0 5px #719ECE;
}

.change_pwd_btn {
  border: 2px solid #cc5917;
  background: orange;
  border-radius: 2.5px;
  width: 60%;
  height: 40px;
  color: white;
  -webkit-appearance: none;
}

.change_pwd_btn:focus {
  outline: none !important;
}

.change_pwd_btn:hover {
  cursor: pointer;
  opacity: 70%;
}

.boss_for_del {
  width: 80%;
  height: 45px;
  margin-top: 12px;
  border: 2px solid #DD3544;
  background: #e65763;
  border-radius: 2.5px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 12.5px;
}

.boss_for_del .boss_confirm {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.boss_for_del .boss_confirm .b_no {
  background: #f8b437;
  border: 1px solid white;
  border-radius: 2.5px;
  color: white;
  height: 20px;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.boss_for_del .boss_confirm .b_no:focus {
  outline: 0;
}

.boss_for_del .boss_confirm .b_no:hover {
  cursor: pointer;
  opacity: 78%;
}

.boss_for_del .boss_confirm .b_yes {
  -webkit-appearance: none;
  background: #67d380;
  border: 1px solid white;
  border-radius: 2.5px;
  color: white;
  height: 20px;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.boss_for_del .boss_confirm .b_yes:focus {
  outline: 0;
}

.boss_for_del .boss_confirm .b_yes:hover {
  cursor: pointer;
  opacity: 78%;
}

.opt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 200px;
  width: calc(100% - 300px);
  -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.15);
          box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.15);
}

.opt .del_account {
  border: 2px solid #DD3544;
  background: #e65763;
  width: 80%;
  border-radius: 2.5px;
  height: 45px;
  color: white;
  margin-top: 12px;
}

@media only screen and (max-width: 750px) {
  .boss {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 80%;
  }
  .opt {
    margin-top: 20px;
    width: 100%;
  }
  .change_pwd_w {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 80%;
  }
}
/*# sourceMappingURL=profileInfo.css.map */