/* conBtn is the color used for the span (box) holding the word Con
 * in the logo (ConTime)
 * and it's also used in the login (submit) button
 */
/* timeLogin is the color used in the word Time in the logo (ConTime)
 * and it's also used in teh login (h1) heading in forms
 */
/* conFormLogin is the color used in the word con in the logo (ConTime)
 * and its also used as a background color for the form 
 */
/* input box border color shadow on click */
/* color for error */
/* Mixin font-size and weight for ConTime Logo */
/* input box background and border */
/* Flex Center Mixin */
.topMenu {
  height: 47px;
  width: 100%;
  background: white;
  position: fixed;
  right: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
}

.topMenu .logo-container {
  height: 45px;
  width: 170px;
  margin-top: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.topMenu .logo-container .con {
  background: white;
  color: #cc4100;
  width: 180px;
  text-align: right;
  font-size: 30px;
  font-weight: 900;
  height: 45px;
}

.topMenu .logo-container .time {
  color: #4F4F4F;
  text-align: left;
  font-size: 30px;
  font-weight: 900;
  height: 45px;
}

.topMenu .date {
  font-size: 15px;
  font-weight: 500;
  width: 200px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.topMenu .utils {
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 2%;
}

.topMenu .utils span {
  width: 20px;
  height: 20px;
}

.topMenu .utils span:hover {
  cursor: pointer;
}
/*# sourceMappingURL=topMenu.css.map */