{% extends 'company_layout.html' %}
{% block company_calendar_style %}
    <style>
        .item-three svg {
            color: #FF0000; cursor: pointer; background: #f5f5f5;
        }
    </style>
{% endblock company_calendar_style %}
{% block company_calendar %}
    <main class="main-dashboard" id="profile-page">
        <section class="profile">
            <div class="profile-container">
                <div class="info-card">
                    <div class="card-info">
                        <span><span class="credentials">Company : </span>{{ company.company_name }}</span>
                        <span><span class="credentials">Manager : </span>{{ company.first_name }} {{ company.last_name }}</span>
                        <span><span class="credentials">Email : </span>{{ company.email }}</span>
                        <span><span class="credentials">Description : </span>{{ company.description[:25] }}...</span>
                    </div>
                </div>
            </div>
        </section>
        <section class="change-password">
            <h2>Change Password</h2>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="{{ category }}">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <form class="pwd-form" method="POST">
                {{ form.hidden_tag() }}
                {{ form.password(class='input-box') }}
                {{ form.confirm(class='input-box') }}
                <button class="login-btn" type="submit">Change</button>
            </form>
        </section>
        <section class="delete-account">
            <h2>Delete account</h2>
            <button id="login-btn">delete</button>
            <div class="confirm">
                <button class="btn-no">no</button>
                <form action="{{ url_for('company.delete_user') }}" method="POST">
                    <input class="btn-yes" type="submit" value="yes">
                </form>
            </div>
        </section>
    </main>
{% endblock company_calendar %}
