{% extends 'employee_layout.html' %}
{% block company_calendar_style %}
    <style>
        .item-one svg {
            color: #FF0000; cursor: pointer; background: #f5f5f5;
        }
    </style>
{% endblock company_calendar_style %}
{% block company_calendar %}
    <main class="main-dashboard">
        <div class="cal-table">
            <form action="{{ url_for('employee.company_calendars', company_id=company_id) }}" method="POST">
              <div class="table-responsive">
                <table class="table">
                  <div class="profile-container">
                      <div class="info">
                        WEEK:
                      </div>
                      <div class="info">
                        TOTAL HOURS:
                      </div>
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">DAY</th>
                        <th scope="col" class="hr">HOUR</th>
                        <th scope="col">LOCATION</th>
                        <th scope="col">DESCRIPTION</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        {{ form.hidden_tag() }}
                        <th scope="row">SUN</th>
                        <td>{{ form.SUN_HOUR }}</td>
                        <td>{{ form.SUN_LOCAL }}</td>
                        <td>{{ form.SUN_DESCRIPTION }}</td>
                      </tr>
                      <tr>
                        <th scope="row">MON</th>
                        <td>{{ form.MON_HOUR }}</td>
                        <td>{{ form.MON_LOCAL }}</td>
                        <td>{{ form.MON_DESCRIPTION }}</td>
                      </tr>
                      <tr>
                        <th scope="row">TUE</th>
                        <td>{{ form.TUE_HOUR }}</td>
                        <td>{{ form.TUE_LOCAL }}</td>
                        <td>{{ form.TUE_DESCRIPTION }}</td>
                      </tr>
                      <tr>
                        <th scope="row">WED</th>
                        <td>{{ form.WED_HOUR }}</td>
                        <td>{{ form.WED_LOCAL }}</td>
                        <td>{{ form.WED_DESCRIPTION }}</td>
                      </tr>
                      <tr>
                        <th scope="row">THU</th>
                        <td>{{ form.THU_HOUR }}</td>
                        <td>{{ form.THU_LOCAL }}</td>
                        <td>{{ form.THU_DESCRIPTION }}</td>
                      </tr>
                      <tr>
                        <th scope="row">FRI</th>
                        <td>{{ form.FRI_HOUR }}</td>
                        <td>{{ form.FRI_LOCAL }}</td>
                        <td>{{ form.FRI_DESCRIPTION }}</td>
                      </tr>
                      <tr>
                        <th scope="row">SAT</th>
                        <td>{{ form.SAT_HOUR }}</td>
                        <td>{{ form.SAT_LOCAL }}</td>
                        <td>{{ form.SAT_DESCRIPTION }}</td>
                      </tr>
                    </tbody>
                  </table>
              </div>
              <div class="save-view">
                <span class="sep"></span>
                <input class="company-btn btn-two" type="submit" value="Save">
              </div>
            </form>
          </div>
    </main>
{% endblock company_calendar %}
