{% extends 'employee_layout.html' %}
{% block company_calendar_style %}
    <style>
        .item-three svg {
            color: #FF0000; cursor: pointer; background: #f5f5f5;
        }
    </style>
{% endblock company_calendar_style %}
{% block company_calendar %}
    <main class="main-dashboard" id="profile-page">
        <section class="profile">
            <div class="profile-container">
                <div class="info-card">
                    <div class="card-image">
                        <img src="{{ url_for('static', filename='images/CT.png') }}" alt="contime-logo">
                        <span>Employee</span>
                    </div>
                    <div class="card-info">
                        <span><span class="credentials">First Name : </span>{{ employee.first_name }}</span>
                        <span><span class="credentials">Last Name : </span>{{ employee.last_name }}</span>
                        <span><span class="credentials">Email : </span>{{ employee.email }}</span>
                    </div>
                </div>
            </div>
        </section>
        <section class="change-password">
            <h2>Change Password</h2>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="{{ category }}">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <form class="pwd-form" method="POST">
                {{ form.hidden_tag() }}
                {{ form.password(class='input-box') }}
                {{ form.confirm(class='input-box') }}
                <button class="login-btn" type="submit">Change</button>
            </form>
        </section>
    </main>
{% endblock company_calendar %}
