/* Place for the logo and the website description */
@import "./variablesMixin";

.web-description {
    width: 40%;
    height: 720px;
    @include flexCenter(column);

    .logo-container {
        height: 100px;
        width: 367px;
        @include flexCenter(row);

        .con {
            @include conTime();
            background: $conBtn;
            color: $conFormLogin;
            width: 180px;
            text-align: right;
        }
    
        .time {
            @include conTime();
            color: $timeLogin;
            text-align: left;
        }
    }

    .description {
        width: 367px;
        color: $timeLogin;
        font-size: 30px;
        font-weight: 600;
        padding-top: 25px;

        .about {
            color: $timeLogin;
            font-size: 15px;
        }
    }
}

@media only screen and (max-width: 1000px) {

    .web-description {
        height: 100px;
        width: 100%;

        .logo-container {
            height: 80px;
            width: 300px;

            .con {
                height: 80px;
                width: 140px;
                font-size: 55px;
            }
            
            
            .time {
                height: 80px;
                color: $timeLogin;
                font-size: 55px;
            }
        }

        .description {
            display: none;
        }
    }

}